@import url(https://fonts.bunny.net/css?family=germania-one:400);
@import url(https://fonts.bunny.net/css?family=balthazar:400);

/*
COLORS : 
--theme-primary: #9b1600 (main red)
--theme-secondary: #3e0909 (secondary red (bordeaux))
--theme-titles: #ebdfd5;
--theme-body: #938582;
--theme-accents: #675654;
--theme-backgrounds: #201817;

main red : #9B1600
grey <a>: #72716F
fonts:
h1:germania one
a:font-family: Balthazar,serif;
*/



h1, h2 {
    font-family: 'germania one' !important;
    z-index: 100;
}

#about-the-game {
    font-family: 'germania one' !important;
}

.bg-vid {
    z-index: 0;
}

/*
.dd-logo {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(255, 0, 0, 0.5));
         filter: drop-shadow(12px 12px 7px rgba(255, 0, 0, 0.5));
}
*/


/*
a:hover {
    color:red
}
*/

/*TEXT DECO : BOOTSTRAP ME BAISE*/
a, p {
    /*font-family: Balthazar,serif;*/
    color: #8D8782;
    text-decoration: none !important; 
}

/* BAISE DE BOOTSTRAP*/
p {
    margin-bottom: 0px;
}

#merch-btn {
    -webkit-clip-path: url(https://www.darkestdungeon.com/darkest-dungeon/#merch-btn) !important;
    clip-path: url(https://www.darkestdungeon.com/darkest-dungeon/#merch-btn) !important;
}

button {
    -webkit-clip-path: url(https://www.darkestdungeon.com/#merch-btn) !important;
    clip-path: url(https://www.darkestdungeon.com/#merch-btn) !important;
}

#bg-img {
    clip-path: url(https://www.darkestdungeon.com/darkest-dungeon/#section-mask-lg) !important;
}

/* bon lien clip-path: url(https://www.darkestdungeon.com/darkest-dungeon/#merch-btn) */

/* clip-path du bg img juste sous la vidéo 
https://www.darkestdungeon.com/darkest-dungeon/#section-mask-lg 
clip-path: url(https://www.darkestdungeon.com/darkest-dungeon/#section-mask-lg)*/

/* clip-path des séparateurs du footer 

clip-path: url(#footer-separator);*/ 

#key-feature1 {
    font-family: 'germania one' !important;
}

#key-feature2 {
    font-family: 'germania one' !important;
}

#key-feature3 {
    font-family: 'germania one' !important;
}

footer {
    background-image: url(/assets/background-village.jpg);
}

#official, #overview, #features {
    font-family: 'germania one' !important;
}

#may-2 {
    font-family: Balthazar,serif;
}

#DLC {
    color:#9b1600;
}

#section5 {
    font-family: Balthazar,serif ;
}

#merch-p {
    font-family: Balthazar,serif !important;
}

#rectangle {
    width: 100px;
    height: 200px;
    background: red;
}

:root {
    --theme-primary: #9b1600;
    --tw-transform:
}

#li-footer-1::before {
    content: "";
    position: relative;
    transform: rotate(45deg);
    background-color: var(--theme-primary);
    width: 5px !important;
    height: 5px !important;
    display: inline-block !important;
    margin-right: 5px;
    bottom: 4px
}


#li-footer-2::before {
    content: "";
    position: relative;
    transform: rotate(45deg);
    background-color: var(--theme-primary);
    width: 5px !important;
    height: 5px !important;
    display: inline-block !important;
    margin-right: 4px;
}

#section7-col2::before {
    background: white;
    content: "";
    width: 8px;
    height: 80px;
    clip-path: url(#footer-separator);

    /* path(transform="scale(0.1 0.012)" d="m3.63 6.127.56 11.298-.901 1.072.787.609.016 7.495-.06 4.136-.147 1.685.111 3.485-2.255.424 2.435.865-1.507 20.671-.076 3.262.84 3.863-.181 5.43s-1.383 5.709-1.372 6.226c.011.516-.163 13.054-.163 13.054L0 73.577l.376-3.495 1.338-.927-1.222-.626.043-18.48 1.19-.795-1.372-.624.556-14.973 1.167-2.629-.907-1.318.126-1.376-.079-2.074.907-6.734-.792-.839.549-3.293.612-6.471L2.898 0l.732 6.127Z")
    */
}

/* SECTION 5 BARONNE BOTTOM-85 */ 