@import url(https://fonts.bunny.net/css?family=germania-one:400);
@import url(https://fonts.bunny.net/css?family=balthazar:400);

/*
COLORS : 
--theme-primary: #9b1600 (main red)
--theme-secondary: #3e0909 (secondary red (bordeaux))
--theme-titles: #ebdfd5;
--theme-body: #938582;
--theme-accents: #675654;
--theme-backgrounds: #201817;

main red : #9B1600
grey <a>: #72716F
fonts:
h1:germania one
a:font-family: Balthazar,serif;
*/



h1, h2 {
    font-family: 'germania one' !important;
    z-index: 100;
}

#about-the-game {
    font-family: 'germania one' !important;
}

.bg-vid {
    z-index: 0;
}

/*
.dd-logo {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(255, 0, 0, 0.5));
         filter: drop-shadow(12px 12px 7px rgba(255, 0, 0, 0.5));
}
*/


/*
a:hover {
    color:red
}
*/

/*TEXT DECO : BOOTSTRAP ME BAISE*/
a, p {
    /*font-family: Balthazar,serif;*/
    color: #8D8782;
    text-decoration: none !important; 
}

/* BAISE DE BOOTSTRAP*/
p {
    margin-bottom: 0px;
}

#merch-btn {
    -webkit-clip-path: url(https://www.darkestdungeon.com/darkest-dungeon/#merch-btn) !important;
    clip-path: url(https://www.darkestdungeon.com/darkest-dungeon/#merch-btn) !important;
}

button {
    -webkit-clip-path: url(https://www.darkestdungeon.com/#merch-btn) !important;
    clip-path: url(https://www.darkestdungeon.com/#merch-btn) !important;
}

#bg-img {
    clip-path: url(https://www.darkestdungeon.com/darkest-dungeon/#section-mask-lg) !important;
}

/* bon lien clip-path: url(https://www.darkestdungeon.com/darkest-dungeon/#merch-btn) */

#key-feature1 {
    font-family: 'germania one' !important;
}

#key-feature2 {
    font-family: 'germania one' !important;
}

#key-feature3 {
    font-family: 'germania one' !important;
}

footer {
    background-image: url(/assets/background-village.jpg);
}

#official, #overview, #features {
    font-family: 'germania one' !important;
}

#may-2 {
    font-family: Balthazar,serif;
}

#DLC {
    color:#9b1600;
}

#section5 {
    font-family: Balthazar,serif ;
}

#merch-p {
    font-family: Balthazar,serif !important;
}

#rectangle {
    width: 100px;
    height: 200px;
    background: red;
}

:root {
    --theme-primary: #9b1600;
    --tw-transform:
}



button {
    font-family: 'germania one';
    color: white;
    font-size: 20px;
    background-blend-mode: multiply;
    z-index: 100;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    margin: auto;
}

/* SECTION 4 */ 

/* SECTION 5 */ 
#section5-buynow-btn {
    width: 150px;
    height: 49px;
    clip-path: url(#btn-bg) !important;
    background: #9b1600 url(/assets/texture.jpg);
    justify-content: center;
    vertical-align: middle;
}

#section5-buynow-btn:hover {
    background: white;
    color:#9b1600;
    transition: ease-in-out .2s;
}

#section5-features-btn:hover {
    text-shadow: 0 0 20px hsla(0,0%,100%,.6) !important;
}

/* SECTION 6 */ 
#section6-button {
    height: 49px;
    width: 169px;
    clip-path: url(#btn-bg) !important;
    background: #9b1600 url(/assets/texture.jpg);
}

#section6-button:hover {
    background: white;
    color:#9b1600;
    transition: ease-in-out .2s;
    
}

/* SECTION 7 */ 
#section7-bg{
    clip-path: url(#section-mask-lg);
    
}

#section7 {
    filter: drop-shadow(0 -50px 100px #000);
    /* box-shadow: 0 0 600px 50px #9b1600; */
}

#section7-col2::before {
    width: 12px;
    height: 320px;
    background: #675654;
    content: "";
    clip-path: url(#footer-separator);
    opacity:60%;
    position: absolute;
    z-index: 5851;
}

#section7-col3::before {
    width: 12px;
    height: 320px;
    background: #675654;
    content: "";
    clip-path: url(#footer-separator);
    opacity:60%;
    position: absolute;
    z-index: 5851;
}

/* FOOTER */ 
#footer{
    filter: drop-shadow(0 -50px 100px #000);
}

/* LI RED SQUARE*/ -bg
#li-footer-1::before {
    content: "";
    position: relative;
    transform: rotate(45deg);
    background-color: var(--theme-primary);
    width: 5px !important;
    height: 5px !important;
    display: inline-block !important;
    margin-right: 5px;
    bottom: 4px
}

#li-footer-2::before {
    content: "";
    position: relative;
    transform: rotate(45deg);
    background-color: var(--theme-primary);
    width: 5px !important;
    height: 5px !important;
    display: inline-block !important;
    margin-right: 4px;
}

/* LI SEPARATOR CLIP PATH*/ 
#footer-col2::before {
    background: #675654;
    content: "";
    width: 8px;
    height: 80px;
    clip-path: url(#footer-separator);
    position:relative;
    right:72.5px;
    top:12.5px
}

#footer-col3::before {
    background: #675654;
    content: "";
    width: 8px;
    height: 80px;
    opacity:60%;
    position:absolute;
    clip-path: url(#footer-separator);
}

/* FOOTER BG CLIPATH */ 
#footer-bg::after {
    content:"";
    clip-path: url(#section-mask);
    height: 210px;
    width: 100%;
    background: black;
    position: absolute;
    z-index: -1;
    opacity: 100%;
    overflow: hidden;
}

/* SECTION 5 BARONNE BOTTOM-85 */ 